﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage2.master" AutoEventWireup="false" CodeFile="inicio.aspx.vb" Inherits="inicio" title="Sistema Estándares" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

 
    <form id="Login" method="post" runat="server">
    
     <div id="contenedor1">
		<div id="lgo" align="center">
			<asp:Label ID="Label2" Runat="server">Usuario</asp:Label>
			<br />
			<asp:TextBox ID="txtUsername" Runat="server"></asp:TextBox><br>
			
			 
			<asp:Label ID="Label3" Runat="server">Clave</asp:Label>
			<br />
			<asp:TextBox ID="txtPassword" Runat="server" TextMode="Password"></asp:TextBox><br>
		
			 </div>
			 	<div id="Div1" align="center">
			<asp:Button ID="btnLogin" Runat="server" Text="Ingresar" OnClick="Login_Click"></asp:Button><br>
			<asp:Label ID="errorLabel" Runat="server" ForeColor="#ff3300"></asp:Label><br>
				</div>
			<asp:CheckBox ID="chkPersist" Runat="server" Text="Persist Cookie" 
                Visible="False" />
		</div>
		
    
    </form>

</asp:Content>

