﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage2.master" AutoEventWireup="false" CodeFile="inicio2.aspx.vb" Inherits="inicio2" title="Página sin título" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">



   <script type="text/javascript">
 window.onload = function() {
 
 var src = String( window.location.href );
location.href="inicio.aspx" 
};


</script>
 <div id="error">
     <asp:Label ID="Label2" runat="server">Para poder utilizar este sistema debe tener activado JavaScript, por favor contáctese con Soporte.</asp:Label>
     </div> 

</asp:Content>

