﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="permiso.aspx.vb" Inherits="_Default" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
  <div id="confirmacion">
     <asp:Label ID="Label1" runat="server"></asp:Label>
     </div>
  <div id="notice">
     <asp:Label ID="Label3" runat="server" ></asp:Label>
     </div>
      <div id="error">
     <asp:Label ID="Label2" runat="server">Este usuario no tiene permisos para acceder a esta pagina</asp:Label>
     </div> 
</asp:Content>