﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="agregar_estandares.aspx.vb" Inherits="Estandares_agregar_estandares" title="Sistema Estándares" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <form id="form1" runat="server">
 <div id="titulo_seccion">
 Seleccione el tipo de Estándar
 </div>
    <div align="center">
    
        <asp:DropDownList ID="DropDownList1" runat="server">
            <asp:ListItem Value="EP">Estandar Primario</asp:ListItem>
            <asp:ListItem Value="ES">Estandar Secundario</asp:ListItem>
            <asp:ListItem Value="ET">Estandar de Trabajo</asp:ListItem>
            <asp:ListItem Value="PP">Patrón Primario</asp:ListItem>
        </asp:DropDownList>
        <asp:Button ID="Button1" runat="server" Text="Seleccionar" />
    
      <input type="button" value="Volver" id="volver" onclick="location.href='consulta_estandares.aspx'">
    </div>
    </form>
</asp:Content>

