﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="consulta_estandares.aspx.vb" Inherits="Estandares_consulta_estandares" title="Sistema Estándares" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
    <link rel="stylesheet" type="text/css" href="../js/DataTables/media/css/jquery.dataTables1.css">
    <link rel="stylesheet" type="text/css" href="../js/DataTables/extensions/TableTools/css/dataTables.tableTools.css">
    <link rel="stylesheet" href="../js/datatable/media/css/demo_table.css"type="text/css" />

	<style type="text/css" class="init">
	      	    input {	height: 15px;
}

	</style>
	<script type="text/javascript" language="javascript" src="../js/DataTables/media/js/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="../js/DataTables/media/js/jquery.dataTables.js"></script>
	<script type="text/javascript" language="javascript" src="../js/DataTables/extensions/TableTools/js/dataTables.tableTools.js"></script>
	<script type="text/javascript" language="javascript" src="../../../examples/resources/syntax/shCore.js"></script>
	<script type="text/javascript" language="javascript" src="../../../examples/resources/demo.js"></script>




        <script type="text/javascript" charset="utf-8" src="../js/datatable/ColVis/media/js/ColVis.js"></script>
    <script type="text/javascript" charset="utf-8"></script>
<script language="javascript" type="text/javascript">

var asInitVals = new Array();
     $(document).ready(function () {
     
     var  oTable = $('#tbl').dataTable( {
       "dom": 'T<"clear">lfrtip',
      
           "oTableTools": {
                                                                "aButtons": [
                                                                                "xls",
                                                                                
                                                                            ]
                                                                },
    
    
            "sScrollY": "100%",
            //'sPaginationType': 'full_numbers',
            //'iDisplayLength': 5,
            	"oColVis": {
		    		
					"activate": "mouseover",
						
						"aiExclude": [ 5 ]
						
				},
				"oLanguage": {
					"sProcessing":     "Procesando...",
				    "sLengthMenu":     "Mostrar _MENU_ registros",
				    "sZeroRecords":    "No se encontraron resultados",
				    "sEmptyTable":     "Ningún dato disponible en esta tabla",
				    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
				    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
				    "sInfoPostFix":    "",
				    "sSearch":         "Buscar:",
				    "sUrl":            "",
				    "sInfoThousands":  ",",
				    
				    "oPaginate": {
				        "sFirst":    "Primero",
				        "sLast":     "Último",
				        "sNext":     "Siguiente",
				        "sPrevious": "Anterior"
				    },
				    "sLoadingRecords": "Cargando...",
				    "fnInfoCallback": null,
				    "oAria": {
				        "sSortAscending":  ": Activar para ordernar la columna de manera ascendente",
				        "sSortDescending": ": Activar para ordernar la columna de manera descendente"
				    }
				    },
            "bPaginate": true,
            "bProcessing": true,
            "bServerSide": false,
            "bSortCellsTop": true,
            
            
     
        });
        
        
        /* Add the events etc before DataTables hides a column */
			$("thead input").keyup( function () {
				/* Filter on the column (the index) of this element */
				oTable.fnFilter( this.value, oTable.oApi._fnVisibleToColumnIndex( 
					oTable.fnSettings(), $("thead input").index(this) ) );
			} );
			
			/*
			 * Support functions to provide a little bit of 'user friendlyness' to the textboxes
			 */
			$("thead input").each( function (i) {
				this.initVal = this.value;
			} );
			
			$("thead input").focus( function () {
				if ( this.className == "search_init" )
				{
					this.className = "";
					this.value = "";
				}
			} );
			
			$("thead input").blur( function (i) {
				if ( this.value == "" )
				{
					this.className = "search_init";
					this.value = this.initVal;
				}
			} );
        
    });




</script>
 <div id="titulo_seccion">
Administración de Estándares
 </div>
       
              
               <div align= "center" >
    <asp:DropDownList ID="DropDownList1" runat="server" AutoPostBack="True">
        <asp:ListItem Value="1">Todos</asp:ListItem>
        <asp:ListItem Value="2">Stock Minimo</asp:ListItem>
        <asp:ListItem Value="3">Prox a Vencer</asp:ListItem>
    </asp:DropDownList>
      <span >
        <label runat="server" id="label_mes" for="cantidad_pedida"  class=":required :integer" >Meses</label>
          
    <asp:TextBox ID="mes" runat="server" Width="53px"></asp:TextBox>
    
    </span>
      <span >
      
      <label for="nombre">Nombre</label>
      <asp:TextBox ID="TextBox1" runat="server" Width="80px"></asp:TextBox>
    </span>
        <span >
      
      <label for="nombre">N° de Catalogo</label>
    <asp:TextBox ID="TextBox3" runat="server" Width="53px"></asp:TextBox>
    </span>
        <span >
      
      <label for="nombre">Cod Qad</label>
    <asp:TextBox ID="TextBox4" runat="server" Width="53px"></asp:TextBox>
    </span>
    <span >
      
      <label for="nombre">Lote Prov.</label>
    <asp:TextBox ID="TextBox2" runat="server" Width="53px"></asp:TextBox>
    </span>
    <span >
      
      <label for="nombre">Tipo: </label>
                <asp:CheckBox ID="CheckBox6" runat="server" Text="EP" />
                   <asp:CheckBox ID="CheckBox7" runat="server" Text="ES"/>
                   <asp:CheckBox ID="CheckBox8" runat="server" Text="ET"/>
                   <asp:CheckBox ID="CheckBox9" runat="server" Text="PP"/>
                   
      <label for="nombre"> Estado: </label>
                   <asp:CheckBox ID="CheckBox1" runat="server" Text="V" />
                   <asp:CheckBox ID="CheckBox2" runat="server" Text="D"/>
                   <asp:CheckBox ID="CheckBox3" runat="server" Text="H"/>
                   <asp:CheckBox ID="CheckBox4" runat="server" Text="F"/>
                   <asp:CheckBox ID="CheckBox5" runat="server" Text="I"/>
    </span>
        <label for="nombre"> Solo su sector: </label>
                   <asp:CheckBox ID="CheckBox10" runat="server" />
                 
    </span>
    </div>
   <br>
    <div id="Div1" style="width:100%" runat="server">
        
        
        
        <div align= "center" >
        <asp:Button ID="Button1" runat="server" Text=" Buscar "  />
          <asp:Button ID="Button2" 
            runat="server" Text=" + Agregar Estandar " />
            <asp:Button ID="Button3" 
            runat="server" Text=" Stock de EP " />
            <asp:Button ID="Button4" 
            runat="server" Text=" Nombres Estándares " />
              <asp:Label ID="label_stock" runat="server"></asp:Label>
                  &nbsp;
&nbsp;
</div>
  

<asp:Repeater ID="repeater" runat="server" OnItemCommand ="RepeaterDeleteitemcommand">
            <HeaderTemplate>
                <table id="tbl" cellpadding="1" cellspacing="0" 
                    border="0" class="display" >
                  <thead id="aaa">
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Lote Prov.</th>
                        <th>Tipo Est.</th>
                        <th>N° Catalogo</th>
                        <th>N° Cas</th>
                        <th>Presentación</th>
                        <th>Unidad</th>
                        <th>Vencimiento</th>
                        <th>Sedronar</th>
                        <th>Sector</th>
                        <th>Acond</th>
                        <th>F. Ingreso</th>
                        <th>Alarma Stock</th>
                        <th>Cant. Pedida</th>
                        <th>Cod. Qad</th>
                        <th>Estado</th>
                        <th>Stock</th>
                        <th>Creado</th>
                        <th>Observaciones</th>
                       </tr>
             <tr>
			<td align="center"><input type="hidden" size="14" name="search_engine" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="18" name="search_browser" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="7" name="search_platform" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="5" name="search_version" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_grade" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_version1" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_grade1" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_browser1" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_platform1" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_version2" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_grade2" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_version3" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_engine1" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_browser2" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_platform2" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_grade3" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_version5" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_browser6" value="" class="search_init" /></td>
			<td align="center"><input type="text" size="8" name="search_version22" value="" class="search_init" /></td>
				<td align="center"><input type="text" size="8" name="search_version12" value="" class="search_init" /></td>
			</tr>
                  </thead>
                <tbody>
            </HeaderTemplate>
            <ItemTemplate>
                <tr>
                  <td align="center"><a><asp:Button ID="Button1" CommandName="Click" Text="Modificar" runat="server" CommandArgument='<%# Eval("CodEst") %>' /></a></td>
                  <td align="center"><%#nombreestandar(Eval("Nombre"))%></td>
                  <td align="center"><%#Eval("LotePro")%></td>
                  <td align="center"><%#Eval("Tipo")%></td>
                  <td align="center"><%#Eval("NumCatalogo")%></td>
                  <td align="center"><%#Eval("NumCas")%></td>
                  <td align="center"><%#Eval("Prese")%></td>
                  <td align="center"><%#Eval("Uni")%></td>
                  <td align="center"><%#invertirfecha(Eval("FeVto"))%></td>
                  <td align="center"><%#sedronar(Eval("sedronar"))%></td>
                  <td align="center"><%#Eval("Sector")%></td>
                  <td align="center"><%#Eval("Acond")%></td>
                  <td align="center"><%#invertirfecha(Eval("FeIng"))%></td>
                  <td align="center"><%#Eval("AlarmaStock")%></td>
                  <td align="center"><%#Eval("CantPic")%></td>
                  <td align="center"><%#Eval("CodQAD")%></td>
                  <td align="center"><%#Eval("Est")%></td>
                  <td align="center"><%#Eval("Stock")%></td>
                  <td align="center"><%#invertirfecha(Eval("FechaCre"))%></td>
                  <td align="center"><%#Eval("Obs")%></td>
                 
              

                </tr>
            </ItemTemplate>
            <FooterTemplate>
                    </tbody>
                </table>
            </FooterTemplate>
        </asp:Repeater>
    </div>
 
</body>
      <div id="error">
  <asp:Label ID="Label2" runat="server"></asp:Label>
  </div>
    </form>
      </asp:Content>

