﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="informe.aspx.vb" Inherits="Estandares_vb" title="Sistema Estándares" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div id="titulo_seccion">
 Seleccione el tipo de estándar
 </div>
<form id="form1" runat="server">
 <div align="center">


        <asp:DropDownList ID="DropDownList1" runat="server">
            <asp:ListItem Value="EP">EP</asp:ListItem>
            <asp:ListItem Value="ET">ET</asp:ListItem>
            <asp:ListItem Value="PP">PP</asp:ListItem>
            <asp:ListItem Value="ES">ES</asp:ListItem>
        </asp:DropDownList>
          <label for="nombre"> Estado: </label>
                   <asp:CheckBox ID="CheckBox1" runat="server" Text="V" />
                   <asp:CheckBox ID="CheckBox2" runat="server" Text="D"/>
                   <asp:CheckBox ID="CheckBox3" runat="server" Text="H"/>
                   <asp:CheckBox ID="CheckBox4" runat="server" Text="F"/>
                   <asp:CheckBox ID="CheckBox5" runat="server" Text="I"/>
         </div>
                
         <br>
         <div  align="center">
         <asp:Button ID="btnReport" runat="server" Text="Generar Informe" />
         </div>
        
         <div  align="center">
         <input type="button" value="Volver" id="volver" onclick="location.href='seleccion_informe.aspx'">
         </div> 
         <br>
              <div id="notice" align="center">
        <asp:Label ID="Label1" runat="server"></asp:Label>
        </div>    
             <div id="error" align="center">
        <asp:Label ID="Label2" runat="server"></asp:Label>
        </div>  
        </form>
</asp:Content>

