﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="modificar_viales.aspx.vb" Inherits="Estandares_modificar_viales" title="Sistema Estándares" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
   
       <!-- librerias calendario y css -->
       <link rel="stylesheet" href="../Estandares/css/ui-lightness/jquery-ui-1.8.20.custom.css" type="text/css" media="screen" charset="utf-8"/>
       
              <script src="js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>        
       <script src="js/jquery-ui-1.8.20.custom.min.js" type="text/javascript" charset="utf-8"></script> 
      <!--  calendarios  --> 
    <script type="text/javascript" >

	


function button2_onclick() {

}


   </script>
   
     <script type="text/javascript">
        function confirma_grabar() {
           return confirm('Confirma que desea agregar viales?');
        }
     </script>     
   
   <script>
 
/*  Uso este javascript para el botón volver, ya que no puedo usar un control asp por que dispara el ajax del vanadium  */   
/* se modifico la funcion por que traiga inconvenientes con la encriptacion de parametros, asi como quedo solo va funionar con 1 parametro, si se pasa mas de uno hay q cambiarla (esto es debido q el split lo hacia con el "=" el cual cortaba el string codificado antes si el signo "=" era parte de la cadena encriptada*/
function redireccionar(){
var src = String( window.location.href ).split('?')[1];
var vrs = src.split('&')
var arr = [];

for (var x = 0, c = vrs.length; x < c; x++) 
{
        arr[x] = vrs[x];
};

location.href="consulta_viales.aspx?"+ arr[0] } 



</script>
  
   <div id="contenedor1">
    <div id="contenedordest">
    <div id="titulo_seccion">
Ingrese Cantidad de viales a agregar
 </div>
    <form id="Form1" runat ="server"> 
    <ul>
    <li class="xli">
    <div class="xtest">
  
 
    <span class="boton">
     <label for="tipo">Cantidad</label>
        <input id="nombre1" runat="server" name="nombre1" value="" class=":required :integer :only_on_blur"  />
     
    </span>
 
    
 
    
  </div>
  </li>
  </ul>
  
    <ul>
   
    <li class="panel_boton">
     <div>
      <span class="boton">
           <input type="button" value="Volver"  id="volver" onclick="redireccionar(); return false;" >
         &nbsp;<asp:Button ID="Button1" runat="server" Text="Grabar" />
         
         </span></div>
    </li>
        
     </ul>
   
     
     </form>
   
  </div>
  </div>    
  <br>
    <div id="confirmacion">
     <asp:Label ID="Label1" runat="server"></asp:Label>
     </div>
      <div id="error">
     <asp:Label ID="Label2" runat="server"></asp:Label>
     </div>
</asp:Content>

