﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="editar_licenciante.aspx.vb" Inherits="Licenciantes_editar_licenciante" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
  <script type="text/javascript">
        function confirma_elimina() {
           return confirm('Confirma la eliminacion de licenciante?');
        }
    </script>
     <script type="text/javascript">
        function confirma_modifica() {
           return confirm('Confirma la modificacion del destinatario?');
        }
    </script>


    <div id="contenedor1">
    <div id="contenedordest">
    <form id="Form1" runat ="server"> 
     <div id="titulo_seccion">
Ingrese el nombre del licenciante
 </div>
    <ul>
    <li class="xli">
    <div class="xtest">
  
 
    <span class="boton">
     <label for="tipo">Nombre</label>
        <input id="nombre1" runat="server" name="nombre1" value="" 
            class=":min_length;2  :only_on_blur" maxlength="50"/>
     
    </span>
 
    
 
    
  </div>
  </li>
  </ul>
  
    <ul>
   
    <li class="panel_boton">
     <div>
      <span class="boton">
                    &nbsp;<asp:Button ID="Button1" runat="server" Text="Grabar" />
                  <input type="button" value="Volver" id="volver" onclick="location.href='consultar_licenciantes.aspx'" />
        <asp:Button ID="Button2" runat="server"  Text="Eliminar" />
         </span></div>
    </li>
        
     </ul>
     
     
     </form>
    
  </div>
  </div>
  <br>
        <div id="notice">
     <asp:Label ID="Label1" runat="server"></asp:Label>
     </div>   
      <div id="error">
     <asp:Label ID="Label2" runat="server"></asp:Label>
     </div>
</asp:Content>

